
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  body{
    width: 100vw;
    height: 100vh;
    background-color: #2f3542;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmqZRjXHv84ED-P-gMXmilXeUa7pzPkhlT_Q&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #one{
    color: aqua;
    font-weight: bolder;
    margin-bottom: 25px;
    font-size: 30px;
  }
.container{
    display: grid;
    grid-template-columns: repeat(3,auto);
}
 .box{
    width: 130px;
    height: 130px;
    border: 2px solid yellowgreen;
    box-shadow: 0 0 0 3px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 26px;
 }
   .status{
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
   }
button{
width: 150px;
height: 40px;
font-size: 18px;
color: antiquewhite;
background-color: red;
border: none;
border-radius: 4px;
}
.win{
 animation: winAnimation ease-in-out 1s infinite;
}
  @keyframes winAnimation {
0%{background-color:#2c3a47;}
100%{background-color:#130f40;}    
  
}


  